@using BusBoard.ConsoleApp
@model BusBoard.Web.ViewModels.BusInfo

@{
    ViewBag.Title = "Bus Information";
}

<h2>BusStopInformation</h2>

<div class="row">
    <p>The local bus stops are: </p>
</div>


@foreach (var stop in Model.LocalStops)
{
    <div class="row">
        <p>@stop.NaptanId</p>
        @foreach (var bus in stop.Buses)
        {
            <p>@Formatter.FormatBusLine(bus.lineName,bus.timeToStation)</p>
        }
    </div>
}