@model BusBoard.Web.ViewModels.BusStopInfo

@{
    ViewBag.Title = "There are the local bus stops";
}

<h2>BusStopInformation</h2>

<div class="row">
    <p>The local bus stops are: </p>
</div>

@foreach (var stop in Model.Stops)
{
    <div class="row">
        <p>@stop</p>
    </div>
}