@model BusBoard.Web.ViewModels.BusStopInfo

@{
    ViewBag.Title = "There are the local bus stops";
}

<h2>BusStopInformation</h2>

<div class="row">
    <p>The local bus stops are: </p>
</div>

@foreach (var stop in Model.Stops)
{
    <div class="row">
        <p>@stop.naptanId</p>
    </div>
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("BusStopTimingInfo", "Home", FormMethod.Get))
        {
            <fieldset>
                <legend>Bus Stop ID:</legend>
                @Html.TextBoxFor(m => m.Stops)

                <input type="submit" value="Get Bus Info" />
            </fieldset>
        }
    </div>
</div>