@model BusBoard.Web.ViewModels.BusStopInfo

@{
    ViewBag.Title = "Bus Stop Information";
}

<h2>BusStopInformation</h2>

<div class="row">
    <p>The local bus stops are: </p>
</div>


@foreach (var stop in Model.Stops)
{
    <div class="row">
        <p>@stop.naptanId</p>
        @foreach (var bus in stop.buses)
        {
            <p>@bus.timeToStation</p>
        }
    </div>
}