@model BusBoard.Web.ViewModels.BusStopTimingInfo

@{
    ViewBag.Title = "Bus Timing Information";
}

<h2>Bus Timing Information</h2>

@foreach (var bus in Model.Buses)
{
    <div class="row">
        <p>@bus.lineName</p>
        <p>@bus.expectedArrival</p>
    </div>
}